@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.slideTrack {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s linear infinite;
}

.slide {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
